body 
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}
  /*Title Name Animation*/
  .text-container 
{
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text-container p
{
  margin: 0;
  font-size: 50px;
  color: rgba(225,225,225, .01);
  background-image: url("/Images/stephenhawking.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
  
  .text-container h1
{
    margin: 0;
    margin-top: 50px;
    font-size: 150px;
    color: rgba(225,225,225, .01);
    background-image: url("/Images/stephenhawking.jpg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
  
    @keyframes animate 
{
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
}
/* Back Button */
button
{
    background-color: #f9004d;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 2%;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    margin-top: 25px;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
button:hover
{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}
span
{
  color: red;
}
/* About Stephen Hawking */
  .about
{
    width: 100%;
    padding: 100px 0px;
    background-image: url(/Images/space.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about img
{
    width: 430px;
    height: auto;
}
.about-text
{
    width: 550px;
}
.main
{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2
{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5
{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p
{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Career */
.career
{
    width: 100%;
    padding: 100px 0px;
}
.about-text-1
{
    width: 100%;
}
.about-text-1 img
{
    height: auto;
    width: 500px;
    border-radius: 50%;
    position: relative;
    float: right;
}
.main-1
{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text-1 h2
{
    text-align: left;
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text-1 p
{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Death */
.death
{
    width: 100%;
    padding: 100px 0px;
}
.about-text-2
{
    width: 100%;
}
.main-2
{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text-2 h2
{
    text-align: right;
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text-2 p
{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Awards */
.awards
{
    width: 100%;
    padding: 100px 0px;
}
.about-text-3
{
    width: 100%;
}
.main-3
{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text-3 h2
{
    color: white;
    text-align: left;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text-3 p
{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Life Works */
.lifeworks
{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2
{
    color: red;
    font-size: 75px;
    width: 1130px;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
}

.box 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40;
    transition: transform .4s;
}
.card
{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgb(102, 102, 102);
    border-radius: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: 0.7;
}
.pra img
{
  height: 365px;
  width: 335px;
}

.box :hover
{
    transform: scale(1.2);
}